{% extends 'base.html' %}

{% block title %}Ticket Details{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="card shadow-lg border-0 rounded-4 p-4">

        <h1 class="mb-4">
            🎫 Ticket Details
        </h1>

        <hr>

        <div class="mb-3">
            <strong>Event :</strong>
            {{ ticket.event.title }}
        </div>

        <div class="mb-3">
            <strong>Location :</strong>
            {{ ticket.event.location }}
        </div>

        <div class="mb-3">
            <strong>Date :</strong>
            {{ ticket.event.event_date }}
        </div>

        <div class="mb-3">
            <strong>Time :</strong>
            {{ ticket.event.event_time }}
        </div>

        <div class="mb-3">
            <strong>User :</strong>
            {{ ticket.user.username }}
        </div>

        <div class="mb-4">
            <strong>Email :</strong>
            {{ ticket.user.email }}
        </div>

        <a
            href="{% url 'tickets:ticket_pdf' ticket.id %}"
            class="btn btn-dark btn-lg"
        >
            Download PDF Ticket
        </a>

    </div>

</div>

{% endblock %}
