{% extends "admin/base_site.html" %} {% load static %} {% block extrastyle %} {{ block.super }}

<link rel="stylesheet" href="{% static 'css/admin/base-site.css' %}">
{% endblock %} {% block branding %}
<h1 id="site-name">
  <a href="{% url 'admin:index' %}"> Event Management Admin </a>
</h1>
{% endblock %} {% block content %}
<div class="custom-admin-banner">
  <h2>Dashboard Administration</h2>
  <p>Event, User, Ticket, and Registration Management.</p>
</div>

{{ block.super }}

<script src="{% static 'js/admin/base-site.js' %}"></script>
{% endblock %}
