{% extends "base.html" %}
{% load static %}

{% block title %}
My Ticket
{% endblock %}
{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/tickets/global-ticket-detail.css' %}">
{% endblock %}


{% block content %}



<div class="ticket-wrapper">
  <div class="ticket-card">
    <div class="ticket-header">
      <div class="ticket-category">{{ ticket.event.category }}</div>

      <div class="ticket-title">{{ ticket.event.title }}</div>

      <div class="ticket-code">Ticket ID: {{ ticket.ticket_code }}</div>
    </div>

    <div class="ticket-body">
      <div>
        <div class="info-grid">
          <div class="info-card">
            <div class="info-label">Participant</div>

            <div class="info-value">{{ ticket.user.username }}</div>
          </div>

          <div class="info-card">
            <div class="info-label">Quantity</div>

            <div class="info-value">{{ ticket.quantity }}</div>
          </div>

          <div class="info-card">
            <div class="info-label">Date</div>

            <div class="info-value">{{ ticket.event.event_date }}</div>
          </div>

          <div class="info-card">
            <div class="info-label">Time</div>

            <div class="info-value">{{ ticket.event.event_time }}</div>
          </div>

          <div class="info-card">
            <div class="info-label">Location</div>

            <div class="info-value">{{ ticket.event.location }}</div>
          </div>

          <div class="info-card">
            <div class="info-label">Booking Date</div>

            <div class="info-value">{{ ticket.booked_at|date:"M d, Y" }}</div>
          </div>
        </div>
      </div>

      <div class="qr-box">
        {% if ticket.qr_code %}

        <img src="{{ ticket.qr_code.url }}" />

        {% endif %}

        <div class="ticket-status">{{ ticket.status }}</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
